<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
</head>
<body>
    <h1>Invoice</h1>
    <p>Invoice ID: {{ invoice.id }}</p>
    <p>Amount: ${{ invoice.amount }}</p>
    <p>Status: {% if invoice.paid %}Paid{% else %}Not Paid{% endif %}</p>

    <p>Start Date: {{ invoice.start_date|default:"/" }}</p>
    <p>End Date: {{ invoice.end_date|default:"/" }}</p>
</body>
</html>
