<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Invoice</title>
</head>
<body>
    <h1>Invoice Details</h1>
    <p><strong>Invoice ID:</strong> {{ invoice.id }}</p>
    <p><strong>User:</strong> {{ invoice.user.username }}</p>
    <p><strong>Product:</strong> {{ invoice.product.name }}</p>
    <p><strong>Product Description:</strong> {{ invoice.product.description }}</p>
    <p><strong>Amount:</strong> ${{ invoice.amount }}</p>
    <p><strong>Start Date:</strong> {{ invoice.start_date|default:"/" }}</p>
    <p><strong>End Date:</strong> {{ invoice.end_date|default:"/" }}</p>
    <p><strong>Status:</strong> {% if invoice.paid %}Paid{% else %}Not Paid{% endif %}</p>

    <!-- Display payment link information if available -->
    {% if payment_link %}
    <h2>Payment Link</h2>
    <p><strong>Payment Link:</strong> {{ payment_link.payment_link }}</p>
    <p><strong>Created At:</strong> {{ payment_link.created_at }}</p>
    
    <p><strong>Expiration Date:</strong> {{ payment_link.expiration_date }}</p>
    <p><strong>Expired:</strong> {% if payment_link.expired %}Yes{% else %}No{% endif %}</p>
    <p><strong>Successful:</strong> {% if payment_link.successful %}Yes{% else %}No{% endif %}</p>
    {% else %}
    <p>No payment link available.</p>
    {% endif %}

    {% if invoice.paid %}
        <button disabled>Already Paid</button>
    {% else %}
        {% if payment_link.expired %}
            <a href="{% url 'create_payment' invoice.id %}"><button>Generate new link</button></a>
        {% else %}
            <a href="{% url 'make_payment' invoice.id payment_link.id %}"><button>Make Payment</button></a>
        {% endif %}
    {% endif %}


    <a href="{% url 'home' %}"><button>Back to Home</button></a>

</body>
</html>
